<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title th:text="${sensor.id == null} ? 'Adicionar sensor' : 'Editar dados'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />

</head>

<body>

    <div class="container" style="padding-bottom: 50px;">

        <div class="row" style="margin-top: 50px;">
            <h4 th:text="${sensor.id == null} ? 'Adicionar sensor' : 'Editar dados'"></h4>
        </div>

        <form method="POST" th:action="@{/sensor/save}" th:object="${sensor}"
            style="margin-top: 20px; margin-bottom: 50px;">
            
            <div th:if="${#fields.hasErrors('global')}">
                <div class="alert alert-danger col-sm-12">
                    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
                </div>
            </div>

            <input type="hidden" th:field="*{id}" />

            <div class="form-group">
                <label>Descrição*:</label>
                <input type="text" th:field="*{descricao}" placeholder="Descrição" class="form-control" />
            </div>

            <div class="form-group">
                <label>Serial*:</label>
                <select th:field="*{serial}" class="form-control">
                    <option th:each="sensorClient : ${sensoresClient}" th:value="${sensorClient.serial}"
                        th:text="${sensorClient.serial}">
                        </tr>
                </select>
            </div>

            <div class="form-group">
                <label>Porta*:</label>
                <input type="text" th:field="*{porta}" placeholder="Porta" class="form-control" />
            </div>

            <div class="form-group">
                <label>Velocidade*:</label>
                <input type="number" th:field="*{velocidadeDados}" placeholder="Velocidade dados"
                    class="form-control" />
            </div>

            <div class="form-group">
                <label>Bits dados*:</label>
                <input type="number" th:field="*{bitsDados}" placeholder="Bits dados" class="form-control" />
            </div>

            <div class="form-group">
                <label>Bit parada*:</label>
                <input type="number" th:field="*{bitParada}" placeholder="Bit parada" class="form-control" />
            </div>

            <div class="form-group">
                <label>Paridade*:</label>
                <input type="number" th:field="*{paridade}" placeholder="Paridade" class="form-control" />
            </div>

            <div class="form-group">
                <label>Modelo*:</label>
                <select th:field="*{modelo}" class="form-control">
                    <option value="LD90">LD90</tr>
                    <option value="TRU_SENSE">TRU_SENSE</tr>
                    <option value="M_200">M_200</tr>
                </select>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" th:field="*{iniciarAutomaticamente}" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Iniciar automaticamente</label>
            </div>

            <div class="form-group">
                <input type="submit" th:value="Salvar" class="btn btn-primary" style="float: right !important;" />
                <a href="/" class="btn btn-secondary" style="margin-right: 10px;float: right !important;">Voltar</a>
            </div>

        </form>

    </div>

</body>

</html>