[Unit]
Description=Script para abrir o sismar
After=network.target

[Service]
ExecStart=/opt/sismar_sensores/open-sismar.sh
Restart=always
User=pi
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target