<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Início</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <style>
        .btn {
            padding: 2px 10px !important;
        }

        .porta-nao-encontrada {
            background: red;
            color:white;
            padding: 1px 10px;
            border-radius: 10px;
        }

        .comunicando {
            background: green;
            color:white;
            padding: 1px 10px;
            border-radius: 10px;
        }

        .sem-comunicacao {
            background: red;
            color:white;
            padding: 1px 10px;
            border-radius: 10px;
        }

        .status-internet-online{
            color: green;
            font-weight: bold;
        }

        .status-internet-offline{
            color: red;
            font-weight: bold;
        }

        @media all and (max-width: 700px) {
            .btn-s {
                font-size: 11px;
            }
        }

    </style>

    <script type="text/javascript">

        var socket = new SockJS('/websocket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {

            stompClient.subscribe('/topic/ultima-leitura-sensor', function (data) {
                var body = JSON.parse(data.body);
                $("#ultima-leitura-sensor-" + body.sensorId).text(body.message);
            });

            stompClient.subscribe('/topic/status-sensor', function (data) {
                var body = JSON.parse(data.body);
                $("#status-sensor-" + body.sensorId).text(body.status);
                $("#status-sensor-" + body.sensorId).removeClass();
                $("#status-sensor-" + body.sensorId).addClass(body.classStatus);
            });

            stompClient.subscribe('/topic/internet-status', function (data) {
                var body = JSON.parse(data.body);
                $("#status-internet").text(body.status);
                $("#status-internet").removeClass();
                $("#status-internet").addClass(body.classStatus);
            });

        });

    </script>

</head>

<body>

    <div class="container">

        <form method="POST" th:action="@{/shutdown}">
            <div style="padding-top: 20px; display: block;">
                <div style="text-align: center;">
                    Status de internet: <span id="status-internet" class="status-internet-online"></span>
                </div>
                <div style="text-align: center;">
                    <input type="submit" th:value="Desligar" class="btn btn-outline-danger" style="margin-left: 10px;" />
                </div>
            </div>
        </form>

        <div class="card" style="margin-top: 20px;">
            <h5 class="card-header">Sensores de aproximação</h5>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-12">
                        <a href="/sensor/add" class="btn btn-primary"
                            style="float: right !important; margin-bottom: 20px;">Adicionar</a>
                    </div>
                </div>

                <div class="row" th:each="sensor : ${sensors}">
                    <div class="col-sm-12">
                        <b>Serial: </b> <span th:text="${sensor.serial}"></span>
                    </div>
                    <div class="col-sm-12">
                        <b>Porta: </b> <span th:text="${sensor.porta}"></span>
                    </div>
                    <div class="col-sm-12">
                        <b>Modelo: </b> <span th:text="${sensor.modelo}"></span>
                    </div>
                    <div class="col-sm-12">
                        <b>Descrição: </b> <span th:text="${sensor.descricao}"></span>
                    </div>
                    <div class="col-sm-12" th:if="${sensor.iniciado}">
                        <b>Última leitura: </b>
                        <span th:id="'ultima-leitura-sensor-' + ${sensor.id}">
                        </span>
                    </div>
                    <div class="col-sm-12" th:if="${sensor.iniciado}">
                        <b>Status: </b>
                        <span th:id="'status-sensor-' + ${sensor.id}">
                        </span>
                    </div>
                    <div class="col-sm-12" style="display: flex; padding-top: 10px;">

                        <form method="POST" th:action="@{/stop}" th:object="${sensorStop}" th:if="${sensor.iniciado}">
                            <input type="hidden" name="id" th:value="${sensor.id}" />
                            <input type="submit" th:value="Pausar" class="btn btn-outline-warning btn-s" />
                        </form>

                        <form method="POST" th:action="@{/start}" th:object="${sensorStart}"
                            th:if="${!sensor.iniciado}">
                            <input type="hidden" name="id" th:value="${sensor.id}" />
                            <input type="submit" th:value="Iniciar" class="btn btn-outline-primary btn-s" />
                        </form>

                        <a th:href="@{/sensor/edit/{id}(id=${sensor.id})}" class="btn btn-outline-success btn-s"
                            th:if="${!sensor.iniciado}" style="margin-left: 10px;">Editar</a>

                        <a target="_blank" th:href="@{/sensor/monitor/{id}(id=${sensor.id})}"
                            class="btn btn-outline-success btn-s" th:if="${sensor.iniciado}"
                            style="margin-left: 10px;">Monitor</a>

                        <form method="POST" th:action="@{/delete}" th:object="${sensorRemove}"
                            th:if="${!sensor.iniciado}">
                            <input type="hidden" name="id" th:value="${sensor.id}" />
                            <input type="submit" th:value="Remover" class="btn btn-outline-danger btn-s"
                                style="margin-left: 10px;" />
                        </form>

                        <form method="POST" th:action="@{/clearBuffer}" th:object="${sensorBuffer}">
                            <input type="hidden" name="id" th:value="${sensor.id}" />
                            <input type="submit" th:value="'Limpar buffer:' + ${sensor.totalBuffer}"
                                class="btn btn-outline-primary btn-s" th:disabled="${sensor.iniciado}"
                                style="margin-left: 10px;" />
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="margin-top: 20px;">
            <h5 class="card-header">Configurações</h5>
            <div class="card-body">

                <form method="POST" th:action="@{/config}" th:object="${config}"
                    style="margin-top: 20px; margin-bottom: 50px;">

                    <input type="hidden" th:field="*{id}" />

                    <div class="form-group">
                        <label>API Url:</label>
                        <input type="text" th:field="*{apiUrl}" placeholder="Url da API" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>Token:</label>
                        <input type="text" th:field="*{token}" placeholder="Token" class="form-control" />
                    </div>                    

                    <div class="form-group">
                        <label>OS Username:</label>
                        <input type="text" th:field="*{osUsername}" placeholder="OS username" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>OS Password:</label>
                        <input type="text" th:field="*{osPassword}" placeholder="OS password" class="form-control" />
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" th:field="*{gravarDadosLocal}"
                            id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Gravar dados local</label>
                    </div>

                    <div class="form-group">
                        <input type="submit" th:value="Salvar" class="btn btn-primary"
                            style="float: right !important;" />
                    </div>

                </form>

            </div>
        </div>

        <div class="card" style="margin-top: 20px; margin-bottom: 50px;">
            <h5 class="card-header">Logs</h5>
            <div class="card-body" style="height: 500px; overflow-y: auto;">
                <div th:each="log : ${logs}">
                    <span th:text="${log}"></span>
                    <br>
                </div>
            </div>
        </div>

    </div>

</body>

</html>